<div class="col-sm-4">
  <div class="form-group">
    <%= f.text_field :first_name, placeholder: 'First Name', class: 'form-control', required: true %>
  </div>	
  <div class="form-group">
    <%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control', required: true %>
  </div>
  <div class="form-group">  
    <%= f.email_field :email, placeholder: 'Email', class: 'form-control' %>
  </div>
  <div class="form-group">  
    <%= f.email_field :email2, placeholder: 'Email2', class: 'form-control' %>
  </div>
  <div class="form-group">  
    <%= f.text_field :phone_number, placeholder: 'Phone Number', class: 'form-control' %>
  </div>
  <div class="form-group">  
    <%= f.text_field :phone_number2, placeholder: 'Phone Number2', class: 'form-control' %>
  </div>
  <div class="form-group">  
    <%= f.text_field :category, placeholder: 'Category', class: 'form-control' %>
  </div>  
  <div class="form-group">  
    <%= f.text_field :company_url, placeholder: 'Company url', class: 'form-control' %>
  </div>  
  <div class="form-group">  
    <%= f.text_field :about_me, placeholder: 'About me', class: 'form-control' %>
  </div>  
  <div class="form-group">  
    <%= f.text_field :status, placeholder: 'Status', class: 'form-control' %>
  </div>  
  <div class="form-group">  
    <%= f.text_field :comment, placeholder: 'Comment', class: 'form-control' %>
  </div>
  <div class="form-group">  
    <%= f.submit 'Save', class: 'btn' %>  
  </div>
 </div> 

