<%= link_to 'Add New Template', new_email_template_path %><br/><br/>
<%= link_to 'Schedule Templates', scheduled_emails_path %><br/><br/>
<table>
<tr>
  <th>Subject</th>
  <th>Content</th>
</tr>
<% @email_templates.each do |template| %>
  <tr>
    <td><%= template.subject %></td>
    <td><%= template.content %></td>
    <td><%= link_to 'Choose', compose_email_path(id: template.id) %></td>
  </tr>
<% end %>
</table>