
<div id="wrapper">
<%# Rails flash messages styled for Bootstrap 3.0 %>

    <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">        
          <li>
            <a href="#">Dashboard</a>
          </li>
          <% if user_signed_in? %>
            <% unless current_user.is_admin? %>
              <li>
                <%= link_to 'Leads', leads_path %>  
              </li>       
            <% end %>  
            <% if current_user.is_manager? %>
              <li>
                <%= link_to 'LeadGenerators', lead_generators_path %>  
              </li> 
              <li>
                <%= link_to 'Email Templates', email_templates_path %>  
              </li> 
            <% end %>  
            <% if current_user.is_admin? %>
              <li>
                <%= link_to 'Users', admin_list_users_path %>  
              </li>               
            <% end %> 
          <% end %>  
        </ul>
      </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div>
                <% flash.each do |name, msg| %>
                    <% if msg.is_a?(String) %>
                      <div class="alert alert-dismissible alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <%= content_tag :div, msg, :id => "flash_#{name}" %>
                      </div>
                    <% end %>
                  <% end %>
                   <!--  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>

